.project {
  margin-top: 50px;
}

.project-body {
  margin-top: 16px;

  &__item:not(:first-child) {
    margin-top: 16px;
  }
}

.project-img {
  position: relative;

  img {
    width: 100%;
  }

  &__hashtag {
    position: absolute;
    top     : 10px;
    right   : 10px;
    @include hashtag-wrapper(4px 14px, 0, auto);

    &:hover:not(:focus-visible) {
      background-color: $white;

      .project-img__link {
        color: $twilightGray;
      }
    }
  }
}

.project-date {
  display    : flex;
  align-items: center;

  &__svg {
    @include calendar;
    fill: $pearlLightGray;
  }

  &__date {
    @include text(12px, 22px);
    color: $pearlLightGray;
  }
}

.project-big {
  position: relative;

  &__hashtag {
    position: absolute;
    top     : 10px;
    right   : 10px;
    @include hashtag-wrapper(4px 14px, 0, auto);

    &:hover:not(:focus-visible) {
      background-color: $white;

      .project-big__link {
        color: $twilightGray;
      }
    }
  }

  &__info {
    position: absolute;
    bottom  : 50px;
    left    : 29px;
  }

  &__title {
    @include header(24px, 24px);
    color: $white;
  }

  &__text {
    @include text(14px, 18px);
    color: $white;
  }

  &__btn {
    @include btn;
    margin-top : 28px;
    padding    : 12px 19px;
    font-size  : 14px;
    line-height: 16px;
  }
}

.project-date-big {
  &__svg {
    @include calendar;
    fill        : $white;
  
  }

  &__date {
    @include text(12px, 22px);
    color: $white;
  }
}

.project-wrapper-modal {
  cursor: pointer;

  &:hover:not(:focus-visible) {
    .project-small__text,
    .project-date__date {
      color     : $black;
      font-style: italic;
    }

    .project-date__svg {
      fill: $black;
    }
  }

  &:focus-visible {
    .project-small__text,
    .project-date__date {
      color     : $black;
      font-style: italic;
    }

    .project-date__svg {
      fill: $black;
    }
  }

  &:active:not(:focus-visible) {
    transform : translateX(7px);
    transition: .3s ease-in-out;
    color     : $blackBrown;

    .service-content-left__btn-svg {
      fill: $blackBrown;
    }
  }
}